#grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  #grid > div {
    font-size: 4vw;
    padding: 10px;
  }

   /* body{
     background-color:#ffebcd; 
    background-image: url(../../background.jpg);
  }  */